<header>

  <% if (user) { %>
    <h2>
      <%= user.email %>
    </h2>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout"></input>
    <form>
  <% } else { %>
<a href="/register">register by clicking here</a>
<a href="/login"> login by clicking here </a>
  <% } %>

</header>

