<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<h1> welcome to TinyApp! </h1>
<body>
  <% include partials/_header %>
  <ul>
    <% for(var item in urls){ %>
      <li> <%= item %> : <%= JSON.stringify(urls[item]['longURL']) %> </li>
      <a href="/urls/<%=item %>">Edit</a>
      <form method="POST" action="/urls/<%= item %>/delete">
        <input type="submit" value="Delete"></input>
      </form>
    <%}%>
  </ul>
<a href = "/urls/new"> shorten a URL </a>
</body>
</html>